.like {
  display: block;
  margin: 20px auto 0;
  width: min-content;
  color: #485461;
  font-size: 50px;
  border: 2px solid rgb(161, 156, 156);
  border-radius: 5px;
  padding: 0 15px;
}

.like:hover {
  cursor: pointer;
}
