@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.search-bar {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 1rem;
}

.search-bar > * {
  font-family: "Russo One", sans-serif;
  font-size: 24px;
  border-radius: 5px;
  margin: auto;
}

@media (max-width: 650px) {
  .search-bar > * {
    font-size: 16px;
  }
}

.search-bar > input {
  height: 60px;
  width: 80%;
  text-align: center;
}

.search-bar > button {
  height: 60px;
  width: 10rem;
}

@media (max-width: 500px) {
  .search-bar > input {
  }

  .search-bar > button {
    width: 5rem;
  }
}
